language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t rockindahizzy/udemy-docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true rockindahizzy/udemy-docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "udemy-docker-react"
  bucket_name: "elasticbeanstalk-us-east-1-929959640113"
  bucket_path: "udemy-docker-react"
  on:
      branch: master

  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY